/*General*/

body{
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 10px;
  color: #907F93
}

section{
  text-align: center;
}


h1 {
  font-weight: bolder;

}

h2{
  font-weight: 200;
}

nav{
  background-color: #66246F ;
  color: white;
}

/*Hero*/

#hero h1,h2{
  font-size: 5em;
}

.jumbotron{
  background-image: url("../img/bg_hero.png");
  color: white;
}

/*Mi Experiencia*/

#mi-experiencia i{
  color: #66246F ;
}

/*Mis Trabajos*/

#trabajos{
  background-color: #66246F ;
}

#trabajos h2{
  color: #ECE7ED ;
}

.card{
  display: inline-block;
  text-align: left;
}

/*Footer*/

footer{
  background-color: #66246F ;
  color: #ECE7ED ;
  height: 80px;
  padding: 20px;
}

.footer-text{
  display: inline-block;
  font-size: 0.5em;
  text-align: center;
  vertical-align: middle
}

.footer-img{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
